*{
    border:1px solid black;
    box-sizing:border-box;
}

#container {
    letter-spacing: -5px;
}

#container div{
    height: 200px;
    width: 200px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
}


#part1{
    margin-top: 100px;
    margin-right: 100px;
}


#part2{
    margin-bottom: 100px;
    margin-top: 200px;
    margin-left: -100px;
}

#part3{
    visibility: hidden;
} 

#container #part7{
    display: none;
} 
